<!doctype html>
<html lang="en">
  <head>
    <title>bookREST: Books</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--link href="books-clientside/jumbotronoverride.css" rel="stylesheet" type="text/css" /-->

    <!-- alerts/confirm dialogs... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <div class="jumbotron">
        <div class="text-center">
            <img src="/logo.png" alt="BookREST" style="width:40%;height:20%" class="float-centre"><br>
        </div>
        <h1 class="display-4">Books</h1><br>
        <!--button class="btn btn-outline-primary" style="text-align-last: right" type="submit" formaction="/books-clientside/loggedout.html">Log out</button-->
        <a class="btn btn-outline-primary" href="loggedout.html" role="button">Log out</a>
    </div>

    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-secondary" formaction="/templates/addbook.html">Add a book</button>
                </div>
                <!-- <div class="col-md-4">
                    <button type="submit" class="btn btn-secondary" formaction="/templates/updatebook.html">Update book details</button>
                </div>
                <br>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-secondary" formaction="/templates/deletebook.html">Delete a book</button>
                </div> -->
            </div>
            <br>
            <table class="table" id="dataTable"> <!--put books here somehow; integrate with database-->
                <thead>
                    <tr>
                      <!-- <th scope="col">#</th> -->
                      <th scope="col">Title</th>
                      <th scope="col">Author</th>
                      <th scope="col">ISBN</th>
                      <th scope="col">Year</th>
                      <th scope="col">Update/Delete</th>
                    </tr>
                </thead>
            </table>
        </form>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $.ajax({
                type: "GET",
                url: "https://basicpythonflaskrest.azurewebsites.net/mainpage",
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    var html_to_append = '<thead><tr>' +
                      '<th scope="col">Title</th>' +
                      '<th scope="col">Author</th>' +
                      '<th scope="col">ISBN</th>' +
                      '<th scope="col">Year</th>' +
                      '<th scope="col">Update/Delete</th>' +
                    '</tr></thead><tbody>';
                    $.each(data, function(i, item) {  //item=[..],[..],[..] ; i="books" ; keys of item = 0,1,2
                        /*data[i] + '</p></div>'+  //data[i] = whole dictionary
                        Object.values(data[i])[1] + '</p></div>'+ //one of the elements of the dict.
                        Object.values(Object.values(item)[0]) + //gives the 1st dict entry*/
                        for (var j = 0; j < Object.keys(data[i]).length; j++) {
                            //html_to_append += '<tr><td>' + Object.values(Object.values(item)[j]) + '</td></tr>' //displays whole entry as comma separated vals
                            html_to_append += '<tr id=j><td id="title">' + 
                                Object.values(Object.values(item)[j])[2] + '</td>' + 
                            '<td id="author">' + Object.values(Object.values(item)[j])[0] + '</td>' + 
                            '<td id="isbn">' + Object.values(Object.values(item)[j])[1] + '</td>' + 
                            '<td id="year">' + Object.values(Object.values(item)[j])[3] + '</td>' + 
                            '<td><div class="btn-group" role="group" aria-label="Basic example">' +
                                '<button type="button" class="btn btn-success" id="update" onclick="clickUpdate(' + j + ')">Update</button>' +
                                '<button type="button" class="btn btn-danger" id="delete" onclick="clickDelete(' + j + ')">Delete</button>' +
                                '</div></td></tr>'
                            // [2], [0], [1], [3] --> title, author, isbn, year
                        }
                    });
                    html_to_append += '</tbody>'
                    $("#dataTable").html(html_to_append);
                },
                error: function() {
                    console.log(data);
                }
            }).done(function () {
                $("ul").each(function (index, element) {
                    // element == this
                    this.getAttribute("data-id");
                });
            });
        });
    </script>
    <script type="text/javascript">
        function clickDelete(index) {
            index++;
            debugger;
            var title = $("table tr:nth-child(" + index + ") #title").text();
            var author = $("table tr:nth-child(" + index + ") #author").text();
            var isbn = $("table tr:nth-child(" + index + ") #isbn").text();
            var year = $("table tr:nth-child(" + index + ") #year").text();
            //alert("Are you sure you wish to delete the selected book from the collection?");
            $.confirm({
                title: 'Confirm deletion?',
                content: 'Are you sure you wish to delete the selected book from the collection?',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "https://basicpythonflaskrest.azurewebsites.net/mainpage/" + isbn,
                            type: "DELETE",
                            contentType: "application/json",
                            data: JSON.stringify({ "title": title, "author": author, "isbn": isbn, "year": year })
                        }).done(function (data) {
                            console.log(data);
                        });
                    },
                    cancel: function () {
                        //$.alert('Cancelled!');
                    },
                }
            });    
        };    
    </script>
    <script>
        function clickUpdate(index) {
            index++;
            debugger;
            var title = $("table tr:nth-child(" + index + ") #title").text();
            var author = $("table tr:nth-child(" + index + ") #author").text();
            var isbn = $("table tr:nth-child(" + index + ") #isbn").text();
            var year = $("table tr:nth-child(" + index + ") #year").text();
            $.ajax({
                url: "https://basicpythonflaskrest.azurewebsites.net/mainpage/" + isbn,
                type: "GET",
                contentType: "application/json",
                data: JSON.stringify({ "title": title, "author": author, "isbn": isbn, "year": year }),
                success: function (data) {
                    $(location).attr("href", "updatebook.html?isbn=" + isbn);
                }
            }).done(function (data) {
                //window.location.replace("mainpage.html");
                console.log(data);
            });
        };
    </script>

  </body>
</html>